html {
  overflow-wrap: inherit;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.calendar-navigate {
  padding: 10px;
  opacity: 0.5;
}

.calendar-navigate:hover {
  cursor: pointer;
  opacity: 0.9;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-title {
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

.calendar-body {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, minmax(40px, 1fr));
  grid-template-rows: 50px;
  grid-auto-rows: minmax(120px, auto);
}

.calendar-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.day {
  text-align: right;
  padding: 14px 5px 14px 2px;
  font-size: 14px;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-color: lightgray;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 601px) {
  .day {
    padding: 14px 20 px 20 px 0px;
  }
}

.innerDay {
  margin: 1px 20px 1px 4px;
  text-align: left;
  overflow: hidden;
  width: 100%;
  border-radius: 8px;

  .event-name {
    overflow: hidden;
    margin: 0 11px 0 6px;
    height: 20px;
  }
}

.day:nth-of-type(7n) {
  border-right: none;
}

.day-name {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid;
  border-top: 1px solid;
  line-height: 50px;
  font-weight: 500;
}

.event {
  box-sizing: border-box;
  margin: 1px 0px;
  font-size: 15px;
  height: 26px;
  position: relative;


  &:focus {
    outline: none;
  }

  border-radius: 3px;
  width: 100%;
  text-align: left;

  &:hover {
    cursor: pointer;
    background: rgba(81, 86, 93, 0.1);
  }

  color: #51565d;
  padding: 0px 0px 3px px;
  margin-right: 5px;
  overflow-x: hidden;
  white-space: nowrap;
  position: relative;
}


.event-text-one {
  padding: '3px 0px';
  color: 'white';
  overflow-x: 'hidden';
  white-space: 'nowrap';
  position: 'relative';
  text-align: 'left';

  &:hover {
    cursor: 'pointer',
  }
}

.event-text-span {
  position: "absolute";
  top: "5px";
  left: "2px";
  height: "15px";
  width: "15px";
}

.event-big {
  &:focus {
    outline: none;
  }

  text-align: left;
  position: relative;

  &:hover {
    opacity: .8;
  }

  cursor: pointer;
}

.below {
  z-index: -1;
}

.details {
  display: flex;
  font-size: 14px;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.display-linebreak {
  white-space: pre-line;
}

.calendar-footer-timezone {
  font-size: 14px;
  padding-left: 5px;
  text-align: left;
}

.calendar {
  font-size: "18px";
  border: "1px solid";
  min-width: "300px";
  position: "relative";
  border-color: "LightGray";
  color: "#51565d";
}

.day-name {
  border-color: "LightGray";
}

.day-span {
  padding-right: '6px',
}

.tooltip {
  width: 250px;
  background: #fff;
  text-align: left;
  padding: 5px;
  border-radius: 6px;
  color: #51565d;
  border: 2px solid rgba(81, 86, 93, 0.1);
  position: absolute;
  z-index: 1;
}

.tooltip-div {
  position: absolute;
  right: 2px;
  top: -5px;
  opacity: 0.5;
  font-size: 24px;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}